{% extends "portfolio/base.html" %}
{% block content %}
{% load static %}


<img src="{% static 'portfolio/newlogo.png' %}" height=250>
<br>
<br>


<img src="{% static 'portfolio/maddy.png' %}" height=250>
<br>
{% comment %} this will allow a user to download this when the click on the link. You can use this for word docs, excel, etc. {% endcomment %}
<a href="{% static 'portfolio/MMOfferLetter.pdf' %}">Example PDF</a>

<div class="projects-container">
  {% for project in projects %} 
    <a href="#">
  <div class="card" style="width: 18rem;">

    <img src="{{project.image.url}}" class="card-img card-img-top" alt="project image">
    <div class="card-body">
      <h5 class="card-title">{{project.title}}</h5>
      <p class="card-text">{{project.description}}</p>
      {% if project.url %}
      {% comment %} <a href="{{project.url}}" target="_blank">Link</a> {% endcomment %}
      {% endif %}
    </div>
  </div>
    </a>
  {% endfor %}
</div>
{% endblock %}

{% comment %} 

  <img src="..." height=200 width=240>
  
   
   
    <a href="#" class="btn btn-primary">Go somewhere</a>
 

 {% endcomment %}